absl-py
annotated-types
astunparse
blinker
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cryptography
cymem
docx
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock
Flask
Flask-Cors
flatbuffers
fsspec
gast
google-pasta
grpcio
h5py
huggingface-hub
idna
itsdangerous
Jinja2
joblib
keras
langcodes
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mpmath
murmurhash
namex
networkx
numpy
opt_einsum
optree
packaging
pandas
pdfminer.six
preshed
protobuf
pycparser
pydantic
pydantic_core
Pygments
PyPDF2
pypdfium2
python-dateutil
python-docx
pytz
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
setuptools
shellingham
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
Werkzeug
wheel
wrapt
